**/bin/
**/obj/
**/node_modules/
.git/
.vs/
.vscode/
Backend/gateway/ApiGateway/bin/
Backend/gateway/ApiGateway/obj/
Backend/microservices/AssessmentService/AssessmentService.API/bin/
Backend/microservices/AssessmentService/AssessmentService.API/obj/
Backend/microservices/AssessmentService/AssessmentService.Application/bin/
Backend/microservices/AssessmentService/AssessmentService.Application/obj/
Backend/microservices/AssessmentService/AssessmentService.Domain/bin/
Backend/microservices/AssessmentService/AssessmentService.Domain/obj/
Backend/microservices/AssessmentService/AssessmentService.Infrastructure/bin/
Backend/microservices/AssessmentService/AssessmentService.Infrastructure/obj/
Backend/microservices/CategoryService/CategoryService.API/bin/
Backend/microservices/CategoryService/CategoryService.API/obj/
Backend/microservices/CategoryService/CategoryService.Application/bin/
Backend/microservices/CategoryService/CategoryService.Application/obj/
Backend/microservices/CategoryService/CategoryService.Domain/bin/
Backend/microservices/CategoryService/CategoryService.Domain/obj/
Backend/microservices/CategoryService/CategoryService.Infrastructure/bin/
Backend/microservices/CategoryService/CategoryService.Infrastructure/obj/
Backend/microservices/CertificateService/CertificateService.API/bin/
Backend/microservices/CertificateService/CertificateService.API/obj/
Backend/microservices/CertificateService/CertificateService.Application/bin/
Backend/microservices/CertificateService/CertificateService.Application/obj/
Backend/microservices/CertificateService/CertificateService.Domain/bin/
Backend/microservices/CertificateService/CertificateService.Domain/obj/
Backend/microservices/CertificateService/CertificateService.Infrastructure/bin/
Backend/microservices/CertificateService/CertificateService.Infrastructure/obj/
Backend/microservices/ContentService/ContentService.API/bin/
Backend/microservices/ContentService/ContentService.API/obj/
Backend/microservices/ContentService/ContentService.Application/bin/
Backend/microservices/ContentService/ContentService.Application/obj/
Backend/microservices/ContentService/ContentService.Domain/bin/
Backend/microservices/ContentService/ContentService.Domain/obj/
Backend/microservices/ContentService/ContentService.Infrastructure/bin/
Backend/microservices/ContentService/ContentService.Infrastructure/obj/
Backend/microservices/CourseService/CourseService.API/bin/
Backend/microservices/CourseService/CourseService.API/obj/
Backend/microservices/CourseService/CourseService.Application/bin/
Backend/microservices/CourseService/CourseService.Application/obj/
Backend/microservices/CourseService/CourseService.Domain/bin/
Backend/microservices/CourseService/CourseService.Domain/obj/
Backend/microservices/CourseService/CourseService.Infrastructure/bin/
Backend/microservices/CourseService/CourseService.Infrastructure/obj/
Backend/microservices/DiscussionService/DiscussionService.API/bin/
Backend/microservices/DiscussionService/DiscussionService.API/obj/
Backend/microservices/DiscussionService/DiscussionService.Application/bin/
Backend/microservices/DiscussionService/DiscussionService.Application/obj/
Backend/microservices/DiscussionService/DiscussionService.Domain/bin/
Backend/microservices/DiscussionService/DiscussionService.Domain/obj/
Backend/microservices/DiscussionService/DiscussionService.Infrastructure/bin/
Backend/microservices/DiscussionService/DiscussionService.Infrastructure/obj/
Backend/microservices/EnrollmentService/EnrollmentService.API/bin/
Backend/microservices/EnrollmentService/EnrollmentService.API/obj/
Backend/microservices/EnrollmentService/EnrollmentService.Application/bin/
Backend/microservices/EnrollmentService/EnrollmentService.Application/obj/
Backend/microservices/EnrollmentService/EnrollmentService.Domain/bin/
Backend/microservices/EnrollmentService/EnrollmentService.Domain/obj/
Backend/microservices/EnrollmentService/EnrollmentService.Infrastructure/bin/
Backend/microservices/EnrollmentService/EnrollmentService.Infrastructure/obj/
Backend/microservices/IdentityService/IdentityService.API/bin/
Backend/microservices/IdentityService/IdentityService.API/obj/
Backend/microservices/IdentityService/IdentityService.Application/bin/
Backend/microservices/IdentityService/IdentityService.Application/obj/
Backend/microservices/IdentityService/IdentityService.Domain/bin/
Backend/microservices/IdentityService/IdentityService.Domain/obj/
Backend/microservices/IdentityService/IdentityService.Infrastructure/bin/
Backend/microservices/IdentityService/IdentityService.Infrastructure/obj/
Backend/microservices/MediaService/MediaService.API/bin/
Backend/microservices/MediaService/MediaService.API/obj/
Backend/microservices/MediaService/MediaService.Application/bin/
Backend/microservices/MediaService/MediaService.Application/obj/
Backend/microservices/MediaService/MediaService.Domain/bin/
Backend/microservices/MediaService/MediaService.Domain/obj/
Backend/microservices/MediaService/MediaService.Infrastructure/bin/
Backend/microservices/MediaService/MediaService.Infrastructure/obj/
Backend/microservices/NotificationService/NotificationService.API/bin/
Backend/microservices/NotificationService/NotificationService.API/obj/
Backend/microservices/NotificationService/NotificationService.Application/bin/
Backend/microservices/NotificationService/NotificationService.Application/obj/
Backend/microservices/NotificationService/NotificationService.Domain/bin/
Backend/microservices/NotificationService/NotificationService.Domain/obj/
Backend/microservices/NotificationService/NotificationService.Infrastructure/bin/
Backend/microservices/NotificationService/NotificationService.Infrastructure/obj/
Backend/microservices/PaymentService/PaymentService.API/bin/
Backend/microservices/PaymentService/PaymentService.API/obj/
Backend/microservices/PaymentService/PaymentService.Application/bin/
Backend/microservices/PaymentService/PaymentService.Application/obj/
Backend/microservices/PaymentService/PaymentService.Domain/bin/
Backend/microservices/PaymentService/PaymentService.Domain/obj/
Backend/microservices/PaymentService/PaymentService.Infrastructure/bin/
Backend/microservices/PaymentService/PaymentService.Infrastructure/obj/
Backend/microservices/ProgressService/ProgressService.API/bin/
Backend/microservices/ProgressService/ProgressService.API/obj/
Backend/microservices/ProgressService/ProgressService.Application/bin/
Backend/microservices/ProgressService/ProgressService.Application/obj/
Backend/microservices/ProgressService/ProgressService.Domain/bin/
Backend/microservices/ProgressService/ProgressService.Domain/obj/
Backend/microservices/ProgressService/ProgressService.Infrastructure/bin/
Backend/microservices/ProgressService/ProgressService.Infrastructure/obj/
Backend/microservices/ReviewService/ReviewService.API/bin/
Backend/microservices/ReviewService/ReviewService.API/obj/
Backend/microservices/ReviewService/ReviewService.Application/bin/
Backend/microservices/ReviewService/ReviewService.Application/obj/
Backend/microservices/ReviewService/ReviewService.Domain/bin/
Backend/microservices/ReviewService/ReviewService.Domain/obj/
Backend/microservices/ReviewService/ReviewService.Infrastructure/bin/
Backend/microservices/ReviewService/ReviewService.Infrastructure/obj/
Backend/microservices/SearchService/SearchService.API/bin/
Backend/microservices/SearchService/SearchService.API/obj/
Backend/microservices/SearchService/SearchService.Application/bin/
Backend/microservices/SearchService/SearchService.Application/obj/
Backend/microservices/SearchService/SearchService.Domain/bin/
Backend/microservices/SearchService/SearchService.Domain/obj/
Backend/microservices/SearchService/SearchService.Infrastructure/bin/
Backend/microservices/SearchService/SearchService.Infrastructure/obj/
Backend/microservices/UserService/UserService.API/bin/
Backend/microservices/UserService/UserService.API/obj/
Backend/microservices/UserService/UserService.Application/bin/
Backend/microservices/UserService/UserService.Application/obj/
Backend/microservices/UserService/UserService.Domain/bin/
Backend/microservices/UserService/UserService.Domain/obj/
Backend/microservices/UserService/UserService.Infrastructure/bin/
Backend/microservices/UserService/UserService.Infrastructure/obj/
Backend/microservices/UserService/UserService.Tests/bin/
Backend/microservices/UserService/UserService.Tests/obj/
Backend/shared/SharedKernel/bin/
Backend/shared/SharedKernel/obj/
